* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(0deg, rgb(144, 7, 14) 0%, rgb(21, 1, 1) 100%);
  width: 100vw;
  height: 200vh;
  color: #d1d6d9;
}

h1,
h2 {
  text-align: center;
  margin: 2.5vh;
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size: 5vh;
}

h3 {
  font-size: 4vh;
  margin-bottom: 10px;
}
h5 {
  font-size: 2vh;
}

.main-container {
  width: 100vw;
  height: 85vh;
  /* border-style: solid;
  border-color: blue; */
  justify-content: space-between;
  display: flex;
  align-items: stretch;
}

.UI-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* border-style: solid; */
}

input[type="number"] {
  appearance: none;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  /* transition: width 0.3s ease-in-out; */
  transition: margin-left 0.2s ease-in-out;
}
input[type="number"]:hover,
button:hover {
  margin-left: 24%;
  /* width: 55%; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
button {
  width: 50%;
  display: inline-block;
  background-color: #19dc64; /* Green */
  border: none;
  margin-left: 25%;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: margin-left 0.2s ease-in-out;
}

.prediction-container {
  width: 80%;
  height: 100px;
  margin-top: 2.5vh;
  margin-left: 10%;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  border-radius: 5px;
}

.explanation-container {
  width: 50vw;
  margin-right: 40px;
}

iframe {
  width: 50vw;
  height: 80vh;
  border-radius: 15px;
}

.image-container {
  width: 100%;
  height: 100vh;
  /* border-style: solid;
  border-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-image-container {
  height: 80vh;
  /* border-style: solid;
  border-color: blue; */
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-row: auto auto;
  justify-items: center;
  align-items: center;
}

img {
  border-radius: 15px;
}

.small {
  height: 20vh;
  width: 20vw;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.small:hover {
  height: 80vh;
  width: 80vw;
  /* position: absolute; */
}

.big-image-container {
  /* border-style: solid;
  border-color: blue; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
  width: 30vw;
  height: 60vh;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.big:hover {
  width: 45vw;
  height: 90vh;
}
