<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TESLA SKRR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>TESLA SCRAPER</h1>
    <div class="main-container">
      <div class="UI-container">
        <h2>Price Predictor</h2>
        <form action="{{ url_for('index')}}" method="post">
          <input
            type="number"
            id="kms"
            name="kms"
            placeholder="Enter Kilometers Driven"
          />
          <input
            type="number"
            id="age"
            name="age"
            placeholder="Enter the Car's Age"
          />
          <button type="submit">Predict</button>
        </form>
        {% if prediction > 0 %}
        <div class="prediction-container">
          <h3>
            Du kan forvente å få omtrent {{ price }}kr for din {{ age }} år
            gamle Tesla Model 3 Long Range som har kjørt {{ kilometers }} km
          </h3>
          <h5>Modellen ble trent på Teslaer hentet 1. november</h5>
        </div>
        {% endif %}
      </div>
      <div class="explanation-container">
        <!-- <h2>Project Explanation</h2>
        <h3>Web Scrape Finn.no</h3> -->
        <iframe src="../static/Tesla Scraper.pdf"></iframe>
      </div>
    </div>
    <div class="image-container">
      <div class="big-image-container">
        <img class="big" src="../static/Images/comp.png" alt="Comp" />
      </div>
      <div class="small-image-container">
        <img
          class="small"
          src="../static/Images/multivariate-reg-longrange.png"
          alt="Multivariate Regression Long Range"
        />
        <img
          class="small"
          src="../static/Images/multivariate-reg-performance.png"
          alt="Multivariate Regression Performance"
        />
        <img
          class="small"
          src="../static/Images/NN-longrange.png"
          alt="NN Long Range"
        />
        <img
          class="small"
          src="../static/Images/NN-performance.png"
          alt="NN Performance"
        />
      </div>
    </div>
  </body>
</html>
